.OtherList::after {
  content: "";
  position: absolute;
  background-image: url("https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/premium/lock-dynamic-premium.png");
  right: -30px;
  bottom: -30px;
  width: 120px;
  height: 120px;
  background-size: contain;
}
