.CurvedBlock:nth-child(2) {
  padding-top: 43vh;
}

.CurvedBlock::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: inherit;
  mask-image: url("../assets/outwardCorner.svg");
  mask-size: contain;
}

.CurvedBlock__last {
  padding-bottom: 168px;
}

.CurvedBlock__last::after {
  content: none;
}

.CurvedBlock::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  background-color: inherit;
  bottom: 100%;
  right: 0%;
}
